* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #A9EDEE;
    flex-direction: column;
}
.tips{
    align-items: center;
    position: absolute;
    top: 10px;
    left:10px;
    z-index: 5;
}
.tipIcon {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    transition-duration: 0.4s;
}
.tips:hover div span{
    font-size: 24px;
    cursor: default;
}
.tips:hover .tipIcon{
    width: 78px;
    height: 78px;
}
.tips div span{
    transition-duration: 0.4s;
}

.score {
    position: absolute;
    top : 30px;
    right : 30px;
    font-size: 40px;
}

a {
    color: #039be5;
    text-decoration: none;
}

/* ----------------------------------------   FORM  ----------------------------------------------- */
.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.formLabel {
    font-size: 52px;
    color : #976B99;
    padding-bottom: 20px;
}
.formTag {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}
.button:focus {
    outline: none;
}
.button:hover{
    cursor: pointer;
    background-color: #54D6CE;
    color: white;
}
.button{
    margin: var(--margin);
    margin-top: 5px;
    font-size: var(--fontSize);
    padding: var(--padding);
    border-radius: 10px;
    background-color: #11ffee00;
    border:solid 3px #54D6CE;
    color:grey;
    transition-duration: 0.4s;
}
.button:focus {
    outline: none;
}
.button:hover{
    cursor: pointer;
    background-color: #54D6CE; /* Green */
    color: white;
}
#formuleInput {
    width: 100%;
    padding: 20px 25px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 15px;
    border: 0px;
    font-size: 18px;
    box-shadow: 3px 3px 3px #cccccc;
    flex-grow:2;
}
#formuleInput:focus {
    outline: none;
}

.signature{
    font-size: 25px;
    z-index: 5;
}

/* ----------------------------------------   TREE  ----------------------------------------------- */

.selected:before {
    font-size: 22px;
    content:"✘ ";
    color : red;
    position: absolute;
    left : -15px;
}

.selected {
    font-size: 22px;
    color:grey;
    display: block;
    text-align: center;
}

.nodeFormule {
    padding: 10px;
}

.notSelected {
    font-size: 22px;
    color:grey;
    display: block;
    text-align: center;
}

/* Hack because of a bug in Treant */
.collapse-switch {
    display: none;
    visibility: hidden;
    user-select: none;
    user-focus: none;
}
.formuleSpan:hover {
    background-color: #CAC7C6;
    cursor:pointer;
    border-radius: 7px;
}
.formuleSpan {
    font-size: 22px;
   display: block;
   text-align: center;
}


/* ----------------------------------------   MODAL  ----------------------------------------------- */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.modal-header {
    padding: 10px 16px;
    color: black;
    text-align: center;
  }
  
  /* Modal Body */
  .modal-body {
      padding: 10px 16px;
    }
  
  /* Modal Footer */
  .modal-footer {
    display: flex;
    padding: 10px 16px;
    color: white;
    justify-content: center;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    top:30%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 30%; opacity: 1}
  }

  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:30%; opacity:1}
  }
